

.wrapper-class {
  border: 1px solid #ccc;
  margin-top: 15px;
}
.editor-class {
  height: 250px;
  background-color:rgb(253, 253, 253);
}
.toolbar-class {
  border: 1px solid #ccc;
}
.public-DraftStyleDefault-block{
  margin: 0 !important;
}
.editor-wrapped{
  /* height: 300px; */
}